{% extends 'web/crud.html.twig' %}

{% block title %}Musique index{% endblock %}

{% block body %}
{{ parent() }}
    <div class="ml-4 mr-4">
        <h1>Musique index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Artistes</th>
                    <th>Album</th>
                    <th>Date</th>
                    <th>Link</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for musique in musiques %}
                <tr>
                    <td>{{ musique.id }}</td>
                    <td>{{ musique.titre }}</td>
                    <td>{{ musique.artistes|join(', ') }}</td>
                    <td>{{ musique.titre }}</td>
                    <td>{{ musique.date ? musique.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ musique.link }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('musique_show', {'id': musique.id}) }}">Afficher</a>
                        <a class="btn btn-info" href="{{ path('musique_edit', {'id': musique.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('musique_new') }}">Ajouter</a>

    </div>
{% endblock %}
