{% extends 'base.html.twig' %}

{% block title %}Musique{% endblock %}

{% block body %}
    <h1>Musique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musique.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ musique.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ musique.date ? musique.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ musique.link }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ musique.album }}</td>
            </tr>
            <tr>
                <th>Artistes</th>
                {% for artiste in musique.artistes %}
                <td>{{ artiste }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <div style='display:none;'><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{ musique.link }}&auto_play=true&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></div>

    <a href="{{ path('musique_index') }}">back to list</a>
    {% if app.user %}
    <a href="{{ path('musique_edit', {'id': musique.id}) }}">edit</a>
    {{ include('musique/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
