{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-xs-1 col-lg-10">
              {{ form_label(form.nom, 'Nom') }}
              {{ form_widget(form.nom, {'attr': {'class' : 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-1 col-lg-10">
              {{ form_label(form.photo, 'URL de la photo') }}
              {{ form_widget(form.photo, {'attr': {'class' : 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-1 col-lg-10">
              {{ form_label(form.musiques, 'Musiques') }}
              {{ form_widget(form.musiques, {'attr': {'class' : 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-1 col-lg-10">
              {{ form_label(form.albums, 'Albums') }}
              {{ form_widget(form.albums, {'attr': {'class' : 'form-control'}}) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
