{% extends 'base.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="btn-group mt-3 col-3" role="group" aria-label="Basic example">
            <a href="{{ path('musique_index') }}" class="btn btn-secondary">Musique</a>
            <a href="{{ path('artiste_index') }}" class="btn btn-secondary active">Artiste</a>
            <a href="{{ path('categorie_index') }}" class="btn btn-secondary">Catégorie</a>
            <a href="{{ path('album_index') }}" class="btn btn-secondary">Album</a>
        </div>
    </div>
    <div class="ml-4 mr-4">
        <h1>Artiste index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Photo</th>
                    <th>actions</th>
                </tr>
            </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.id }}</td>
                <td>{{ artiste.nom }}</td>
                <td>{{ artiste.photo }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('artiste_show', {'id': artiste.id}) }}">Afficher</a>
                <a class="btn btn-info" href="{{ path('artiste_edit', {'id': artiste.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
            <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('artiste_new') }}">Ajouter</a>
    </div>
{% endblock %}
