{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <div class="row justify-content-center">
            <div class="btn-group mt-3 col-3" role="group" aria-label="Basic example">
                <a href="{{ path('musique_index') }}" class="btn btn-secondary">Musique</a>
                <a href="{{ path('artiste_index') }}" class="btn btn-secondary">Artiste</a>
                <a href="{{ path('categorie_index') }}" class="btn btn-secondary">Catégorie</a>
                <a href="{{ path('album_index') }}" class="btn btn-secondary">Album</a>
            </div>
        </div>
        
    <h1>Album index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.nom }}</td>
                <td>
                    <a href="{{ path('album_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('album_new') }}">Create new</a>
{% endblock %}
