{% extends 'web/crud.html.twig' %}

{% block title %}Album index{% endblock %}
{% block body %}
{{ parent() }}
    <div class="ml-4 mr-4">
        <h1>Album index</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td>{{ album.id }}</td>
                    <td>{{ album.nom }}</td>
                    <td><img height="150" src="{{ album.image }}" alt='{{ album.nom }}' title="{{ album.nom }}"></td>
                    <td>
                        <a class="btn btn-info" href="{{ path('album_show', {'id': album.id}) }}">Afficher</a>
                        <a class="btn btn-info" href="{{ path('album_edit', {'id': album.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('album_new') }}">Ajouter</a>
    </div>


{% endblock %}
