<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block  navbar %}

        <nav>
            <ul>
                <a href="{{ path('index') }}"><li>Accueil</li></a>
                {% if app.user %}
                <a href="{{ path('crud') }}"><li>Accès au CRUD</li></a>
                <a href="{{ path('api_generator') }}"><li>API</li></a>
                <a href="{{ path('app_logout') }}"><li>Logout</li></a>
                {% else %}
                <a href="{{ path('app_login') }}"><li>Login</li></a>
                <a href="{{ path('app_register') }}"><li>Register</li></a>
            {% endif %}
            </ul>
        </nav>

        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
